{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container py-5 ">

    

		<div class="container mb-5">

			<!-- Three columns -->
			<div class="row text-center ">

				<div class="col-lg-4 ">
					<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/simon-robben.jpg">
			
					<h2>Maxime</h2>
					<p>Lead Dev Back</p>
					<p>Git Master</p>

		
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/simon-robben.jpg">
			
					<h2>Stéphane</h2>
					<p>Scrum Master</p>
	
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/simon-robben.jpg">
			
					<h2>Olivier</h2>
					<p>Product Owner</p>
					<p>Lead Dev Front</p>

				</div>
				<!-- /.col-lg-4 -->
		
			</div>

		</div>
{% endblock %}
