
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div class="container-fluid bg-opacity">

        
          	<h1 class="mt-5 mb-5">Easy-SportsTest</h1>
          	<p class="mt-5 mb-5">
              Entrainez vous, testez vous.
         	 </p> 
          
         	 <p class="mt-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        
 			<a href="{{ path('homesubscription') }}" role="button" class="btn btn-primary mt-5 px-5">Inscrivez-vous maintenant</a>        

        </div>
       
  	</div>

    <!-- For Demo Purpose -->
    <div class="container py-5">
        <h2 class="h3 font-weight-bold">Some demo content</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            </div>

    	</div>
    
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<h5 class="card-title mt-5 mb-5 text-center">Nos meilleurs jongleurs</h5>
					<img src="https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Nos meilleurs jongleurs</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
						</ul>
				
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				<h5 class="card-title mt-5 mb-5 text-center">Nos meilleurs webmaster</h5>
					<img src="https://images.pexels.com/photos/1171084/pexels-photo-1171084.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">Maxime</li>
					<li class="list-group-item">Stéphane</li>
					<li class="list-group-item">Olivier</li>
				</ul>              
					</div>
				</div>
			</div>
		</div>
	</div>  

    <div class="container p-5 text-center">
        <a href="{{ path('homesubscription') }}" role="button" class="btn btn-primary px-5">Inscrivez-vous maintenant</a>
    </div>




	{% endblock %}