{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>

    {{ include('home/_form.html.twig') }}

    <a href={# "{{ path('back_user_index') }}" #}>back to list</a>
{% endblock %}