/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    /* background-image: url("../images/grass-g144bef10d_1920.jpg");*/
    
} 

.bg-header {
    background-image: linear-gradient(to right, #1e8b35, #3f9e55, #529c67, #55a36f, #67a580);
}


.active {
    border-bottom: 2px black solid;

}


/* fait passer la navbar au dessus du texte */
.navbar {
    z-index: 9999;
}

/* Image page d'accueil*/
.bg-image{
    background-size: cover;
    min-height: 100vh;
}  

/* div de présentation sur la home */
.bg-opacity {
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.3); 
    color: #f1f1f1; /* Grey text */
    width: 80%; /* Full width */
    padding: 20px; /* Some padding */
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    /*  */transform: translate(-50%, -50%);   
}

.resultblock{
    transition: all 0.2s ease;
    cursor: pointer;
}

.resultblock:hover {
    transform: scale(1.05);
}


