{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
     <h1 class="text-center"></h1>
        

   
     {{ include('common/_form.html.twig') }}
    <a href="{{ path('user_home', {slug : app.user.slug}) }}">retour à l'accueil</a>



    </div
{% endblock %}
